<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <div>
            <div style="display: inline;">
                <a href="{{ url_for('index') }}">
                    <img alt="URL Shortener" src="{{ url_for('static', filename='res/logo.png') }}" height="35">
                </a>
            </div>
            <div style="display: inline;">
                {% if current_user.is_anonymous %}
                    <a class="header-links" href="{{ url_for('login') }}">Log_in</a>
                {% else %}
                    <a class="header-links" href="{{ url_for('logout') }}">Log_out</a>
                    <a class="header-links" href="{{ url_for('dashboard') }}">Dashboard</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>