<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        <a href="{{ url_for('index') }}">URL Shortener</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Log in</a>
        {% else %}
            <a href="{{ url_for('dashboard') }}">Dashbord</a>
            <a href="{{ url_for('logout') }}">Log out</a>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>